<%- include("../includes/header.ejs", {title:"Resumes - " + result[0].resume_name}); %>
    <h1>Resumes</h1>
    <ul>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Skill Name: <%= result[0].skill_name %></li>
        <li>Company Name: <%= result[0].company_name %></li>
    </ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>