<%- include("../includes/header.ejs", {title:"Create New Resume"}); %>
    <h1>Create New Resume</h1>

    <form action="/resume/insert" method="get" id="accountform">
        Resume Name: <input form="accountform" id="resume_name" name="resume_name" type="text" />
        <br />
        <select name="company_name" id="company_name" form="accountform">
            <% for(var i=0; result2.length > i; i++ ) { %>
            <option value="<%= result2.company_id %>"> <%= result2[i].company_name %></option>
            <% } %>
        </select>
        <select name="school_name" id="school_name" form="accountform">
            <% for(var i=0; result2.length > i; i++ ) { %>
            <option value="<%= result2.school_id %>"><%= result2[i].school_name %></option>
            <% } %>
        </select>
        <select name="skill_name" id="skill_name" form="accountform">
            <% for(var i=0; result2.length > i; i++ ) { %>
            <option value="<%= result2.skill_id %>"><%= result2[i].skill_name %></option>
            <% } %>
        </select>

        <input type="hidden" name="account_id" form="accountform" value="<%= result1.account_id %>" />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>