<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/resume/all">Resume - View All</a><br />


<%- include("./includes/footer.ejs"); %>
